#container{
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    margin-top: 100px;
    
}
p{
    color: rgb(61, 165, 235);
    font-weight: bold;
}

h2{
    font-variant-caps: all-small-caps;
    color: rgb(68, 68, 68);
}
h1{
    color: rgb(83, 209, 83);
}
