/* div{
    border-width: 2px;
    border-style: solid;
} */

html, body {
    scroll-behavior: smooth;
    height:100%;
    margin: 0;
    padding: 0;
}


.Menus{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.5em;
}

.Ligne{
    display: flex;
    justify-content: center;
    margin: 2;
    border-bottom: 5px solid lightgrey;
}

html {
    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.10), 
      rgba(0, 0, 0, 0.10)
    ),
    /* bottom, image */
    url("../img/mozaic.jpg");
    background-repeat: repeat;
}



/* section plats */

.item {
    background-color:#444444;
    margin: 20px;
    display: flex;
    transition: 0.3s all;
    color: white;
    width:96%;
    border-radius: 9px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(31, 31, 31);
}

.trait{
    border: 0.2px solid white;
}

.item-infos {
        padding:5px;
        margin: 5px;
        height : 100%;
        flex-grow:1;
        width:45%;
        margin-left: 15px;
}

div#payer{
    margin-top: 45px;
    margin-bottom: 45px;
    width:35%;
    text-align:center;
    margin-right: 150px;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center
}
.boutton {
    margin: auto;
    background: rgb(54, 153, 71);
    width: 230px;
    padding:0.5em;
    border-width: 3px;
    font-family: 'Comfortaa', cursive;
    color: white;
}
.boutton:hover {
    background-color: rgb(107, 250, 131);
    border-width: 2.5px;
    border-style:solid;
    cursor: pointer;
    padding:0.5em;
}

section {
    padding: 100px;
    font-family: Arial;
}

.sep {
    height:auto;
    width:47%;
}

.item-infos h3 {
    font-size: 25px;
}

p.prix {
    font-weight: bold;
    font-size: 22px;
}

.imgProd {
    height: auto;
    width: 300px;
    border-radius: 9px;
    }

.abso{

    z-index: 99999;
}

div#payer{
    border-width:1.5px;
    display: flex;
    flex-grow: initial;
}
.boutton {
    margin-left: 30px;
    background: rgb(85, 194, 103);
    border-radius: 12.5px;
    text-decoration:none; 
    color: black;
    border-width: 2px;
    border-style: solid;
}
.boutton:hover {
    background-color: rgb(107, 250, 131);
    border-width: 2px;
    border-style: solid;
}
