
html, body {
    padding:0;
    margin:0;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container{
    font-size: 20px;
    width: 100%;
    height: 843px;
    display: flex;
    flex: 1 20px;
    text-align: center;
}
form{
    width: 100%;
}
svg{
    width: 30px;
    height: 30px;
}

#espace{
    height: 30px;
}

.qte{
    width: 100px;
}

#refresh{
    color: whitesmoke;
    font-size: 25px;
    width: 150px;
    background-color: rgb(122, 123, 126);
    border-radius: 5px;
}

#delete{
    color: red;
    text-decoration: none;
}

#pay{
    color: blue;
    text-decoration: none;
}
