html{
    height: 100%;
}

#page{
    height: 100%;
}

.info{
    font-family: Arial;
    margin-top: 150px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
}

#imageprofile{
    margin-bottom: 10px;
}
#imagecommandes{
    margin-bottom: 15px;
}

#home{
    color: rgb(59, 99, 209);
}

#deco{
    color: rgb(223, 39, 39);
}
h1{
    font-size: 30px;
    color: black;
}

#cmd{
    background-color: #5cb85c;
    color: black;
    font-size: 17px;
    margin: 0;
    line-height: 0px;
    
}

#cmd table, th, td{
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
}

td{
    width: 200px;   
}

#espace{
    height: 20px;
    background-color: white;
}

.titre{
    font-weight: bold;
}

#modif{
    background-color: rgb(233, 151, 0);
    color:white;
    border-radius: 7.5px;
    text-decoration: none;
    font-size: 25px;
    border:1px solid rgb(99, 99, 99);
    padding:5px;
}
